page-about {

    .featured1 {
        background-color: #40bf40;
        padding:5px 15px;
        margin: 15px 0px;
        color:#fff;
        box-shadow: 1px 2px 10px #ccc;
      }

      .height {
          max-height:150px;
          width:auto;
      }
      .aboutUs-header{
          padding:15px;
          font-size:2em;
      }
      .aboutUs-content{
          font-size:1.3em;
      }

}
